<h1>Inicio</h1>
<section>
    <article class="promo">
        <h2>Promo 1</h2>
        <div class="promo-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, adipisci dolorum fugit voluptatibus repudiandae quibusdam eius hic dolores distinctio harum debitis necessitatibus iusto eum accusantium modi vel sint esse? Repellat.</p>
            <p>Architecto, commodi, pariatur et aliquam inventore praesentium totam reiciendis sapiente quia dolore facilis ullam aut consequatur rem distinctio repudiandae voluptates molestias enim quaerat vitae autem officiis. Modi illum doloremque excepturi.</p>
        </div>
    </article>
    <article class="promo">
        <h2>Promo 2</h2>
        <div class="promo-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat distinctio accusantium molestiae sunt consequatur, repudiandae porro enim facilis quidem tempora ipsa cum consectetur voluptas rerum aperiam labore obcaecati fugit eum.</p>
            <p>Provident sed numquam voluptate repudiandae nemo ipsam eum alias culpa quam reprehenderit officia libero eos ratione non officiis debitis inventore optio harum dicta neque doloremque ad, accusamus id. Deserunt, eaque.</p>
        </div>
    </article>
    <article class="promo">
        <h2>Promo 3</h2>
        <div class="promo-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, aliquid. Quam natus magnam praesentium quaerat corporis obcaecati iste voluptates, expedita esse quod error odit impedit a, consectetur consequatur adipisci excepturi.</p>
            <p>Deserunt dolorem quidem vel deleniti cumque, sapiente quis placeat assumenda, expedita in illo necessitatibus fugit unde aspernatur eveniet reiciendis odit. Facere error nemo culpa magni dolorum asperiores ratione, nisi nihil!</p>
        </div>
    </article>
</section>